.Tryndamere {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/5/5f/TryndamereSquare.png?version=212a124ef6af23869dc00e752aed1063);
    height: 10vh;
    width: 6vw;
}
.Drmundo {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/b/b0/DrMundoSquare.png?version=1e491bfb3c337f4da5d5b906cfab31d1);
    height: 10vh;
    width: 6vw;
}
.Volibear {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/f/f9/VolibearSquare.png?version=e8586ccf6c763509c4c511044d8282f8);
    height: 10vh;
    width: 6vw;
}
.Graves {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/2/26/GravesSquare.png?version=dd63dc5a6cbd902bcc38d98c0e9be579);
    height: 10vh;
    width: 6vw;
}
.Ekko {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/e/ef/EkkoSquare.png?version=16e6b703ccbee9084e986ab77b9ea3d1);
    height: 10vh;
    width: 6vw;
}
.Khazix {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/1/14/Kha%27ZixSquare.png?version=79aedc7d47218e82e8e4cea2f8ffc9a9);
    height: 10vh;
    width: 6vw;
}
.Nunu {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/b/be/Nunu_%26_WillumpSquare.png?version=88a4d5fe3b3c699340d571f1321a6b7f);
    height: 10vh;
    width: 6vw;
}
.Hecarim {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/4/4c/HecarimSquare.png?version=1ae89d21ab0a74b857522fbe4eec3dd4);
    height: 10vh;
    width: 6vw;
}
.Udyr {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/d/d1/UdyrSquare.png?version=1bb2771a28ba2e5409b26ddbbb0d67a7);
    height: 10vh;
    width: 6vw;
}
.Vi {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/c/c0/ViSquare.png?version=b050ba90c8e20a0d54bc17cf957466a3);
    height: 10vh;
    width: 6vw;
}
.Karthus {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/e/e1/KarthusSquare.png?version=530ee597155c934b6d3bf738cff09399);
    height: 10vh;
    width: 6vw;
}
.Nidalee {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/7/7c/NidaleeSquare.png?version=4bea0440002960b0763325e7507b4359);
    height: 10vh;
    width: 6vw;
}
.Ivern {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/9/9d/IvernSquare.png?version=489e26031d5e5764385cd35524008091);
    height: 10vh;
    width: 6vw;
}
.Nocturne {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/6/65/NocturneSquare.png?version=628c165d3b2732bf924f26f9972f2672);
    height: 10vh;
    width: 6vw;
}
.Jax {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/0/0f/JaxSquare.png?version=20cc0e4f3272cef1ce908fedb3ba016b);
    height: 10vh;
    width: 6vw;
}
.Warwick {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/4/42/WarwickSquare.png?version=7cddddd7d120dcdea309841df309183b);
    height: 10vh;
    width: 6vw;
}
.Masteryi {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/b/b2/Master_YiSquare.png?version=cb40d9c0cf633b209cabd22e709587da);
    height: 10vh;
    width: 6vw;
}
.Shyvana {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/f/f6/ShyvanaSquare.png?version=4b7fddf1eaf1cfb4e4ee2ed321f5a5d4);
    height: 10vh;
    width: 6vw;
}
.Twitch {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/7/79/TwitchSquare.png?version=ad87842574580929a99caa3638f2c91e);
    height: 10vh;
    width: 6vw;
}
.Jarvaniv {
    content: url(https://gamepedia.cursecdn.com/lolesports_gamepedia_en/7/72/JarvanIVSquare.png?version=b4a1da51f6789ab2931bba0c7f2046ae);
    height: 10vh;
    width: 6vw;
}