.ChampSquare {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 15vh;
}

.Champion-container {
    display: inline-block;
    justify-content: space-evenly;
    
}
.ChampIconSection {
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    height: 20vh;
    margin-top: 5vh;
}
